*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix{
	clear: both;
	height: 0;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
body{
	margin: 0;
	padding: 0;
	header{
		background-image: url('../img/bg-header.png');
		width: 100%;
		background-size: cover;
		.logo{
			padding-top: 50px;
		}
		.nav{
			padding-right: 8.33%;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				li{
					float: left;
					margin-left: 20px;
					cursor: pointer;
					margin-top: 50px;
					padding-top: 7px;
					a{
						display: block;
						text-align: center;
						text-decoration: none;
						font-family: 'Lato', Arial, sans-serif;
						font-size: 13.92px;
						text-transform: uppercase;
						color: #fffffe;
						font-weight: 500;
					}
				}
				li>a:hover{
					color: #07a9f4;
				}
			}
		}
		.h-content{
			text-align: center;
			padding-bottom: 46px;
			h1{
				font-family: 'Raleway', Arial, sans-serif;
				color: #fff;
				font-size: 48px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 252px 0 52px 0;
			}
			p{
				font-family: 'Lato', Arial, sans-serif;
				color:  #fffefe;
				font-size: 22px;
				font-weight: 400;
				margin: 44px 0 257px 0;
			}
		}
	}
main{
	.t-services{
		text-align: center;
		margin-bottom: 80px;
		h2{
			font-family: 'Raleway', Arial, sans-serif;
			color:  #222222;
			font-size: 35px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 116px 0 74px 0;
		}
	}
	.s-content{
		text-align: center;
		.services-image{margin: 0 auto;}
		.services-title{
			font-family: 'Lato', Arial, sans-serif;
			color:  #222222;
			font-size: 24px;
			font-weight: 400;
			margin: 37px 0 37px 0;
		}
		.first{margin-top: 52px;}
		.third{margin-top: 72px;}
		p{
			font-family: 'Lato', Arial, sans-serif;
			color:  #222222;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			margin: 0 0 119px 0;
			white-space: pre-wrap;
		}
	}
	#about{
		background-image: url('../img/dolore-bg.png');
		background-size: cover;
		.a-content{
			margin-bottom: 115px;
			h2{
				font-family: 'Lato', Arial, sans-serif;
				color:  #fff;
				font-size: 44.67px;
				font-weight: 400;
				text-transform: uppercase;
				margin: 173px 0 12px 0;
			}
			p{
				font-family: 'Lato', Arial, sans-serif;
				font-size: 22px;
				font-weight: 100;
				color:  #fff;
				line-height: 28px;
				margin: 0 0 60px 0;
			}
			a{
				text-decoration: none;
				display: block;
				width: 42px;
				border-bottom: 1px solid #fff;
				span{
					font-family: 'Lato', Arial, sans-serif;
					color: #fff;
					font-size: 18px;
					font-weight: 400;
				}
			}
			a:hover{border-bottom: 1px solid #07a9f4;}
			a>span:hover{color: #07a9f4;}
		}
		.about-image{
			margin-top: 95px;
			text-align: right; 
		}
	}
	#work{
		background-color: #fff;
		.t-work{
			text-align: center;
			h2{
				font-family: 'Raleway', Arial, sans-serif;
				color:  #222222;
				font-size: 35px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 117px 0 73px 0;
			}
		}
		.work-image1{
			background-image: url('../img/work-img1.png');
			background-size: cover;
			width: 33.33333333%;
			height: 420px;
			margin-top: 91px;
		}
		.work-image2{
			background-image: url('../img/work-img2.png');
			background-size: cover;
			width: 33.33333333%;
			height: 420px;
			margin-top: 91px;
		}
		.work-image3{
			background-image: url('../img/work-img3.png');
			background-size: cover;
			width: 33.33333333%;
			height: 420px;
			margin-top: 91px;
		}
		.w-btn{
			margin: 79px 0 80px 0;
			.btn{
				width: 100%;
				height: 60px;
				background-color: #fff;
				border: 3px solid #222222;
				font-family: 'Lato', Arial, sans-serif;
				color:  #222222;
				font-size: 24px;
				font-weight: 400;
				text-transform: uppercase;
			}
			.btn:hover{
				background-color: #07a9f4;
				border: 3px solid #222222;
				color: #fff;
			}
		}
	}
}
	footer{
		background-image: url('../img/bg-footer.png');
		width: 100%;
		background-size: cover;
		.t-footer{
			text-align: center;
			h2{
				font-family: 'Raleway', Arial, sans-serif;
				font-size: 35px;
				color:  #ffffff;
				font-weight: 700;
				text-transform: uppercase;
				margin: 118px 0 74px 0;
			}
		}
		ul{
		list-style: none;
		margin: 69px 0 70px 0;
		padding: 0;
		li{
			display: inline-block;
			cursor: pointer;
			color:  #fff;
			font-size: 25px;
			margin: 0 15px 0 15px;
			a{
				text-decoration: none;
				color: #fff;
				display: inline-block;
				font-size: 25px;
				}
			}
		}
		li>a:hover{
			color: #07a9f4;
		}
		input{
			background: none;
			text-decoration: none;
			border: none;
			padding-left: 28px;
		}
		.name{
			width: 45%;
			height: 36px;
			border-bottom: 2px solid #afafaf;
			margin-right: 63px;
			margin-left: 10px;
		}
		.email{
			width: 45%;
			height: 36px;
			border-bottom: 2px solid #afafaf;
		}
		.message{
			width: 90%;
			height: 36px;
			border-bottom: 2px solid #afafaf;
			margin: 90px 0 50px 10px;
		}
		::-webkit-input-placeholder {
			font-family: 'Lato', Arial, sans-serif;
			font-size: 18px;
			text-transform: capitalize;
			color:#676767;}
		::-moz-placeholder {
			font-family: 'Lato', Arial, sans-serif;
			font-size: 18px;
			text-transform: capitalize;
			color:#676767;}
		:-moz-placeholder {
			font-family: 'Lato', Arial, sans-serif;
			font-size: 18px;
			text-transform: capitalize;
			color:#676767;}
		:-ms-input-placeholder      {
			font-family: 'Lato', Arial, sans-serif;
			font-size: 18px;
			text-transform: capitalize;
			color:#676767;}
		.btn{
			width: 35%;
			height: 60px;
			background-color: transparent;
			border: 3px solid #fff;
			font-family: 'Lato', Arial, sans-serif;
			color:  #fff;
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0 0 122px 243px;
		}
		.btn:hover{
			background-color: #07a9f4;
			border: 3px solid #fff;
			color: #fff;
			}
	}

}